body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
}

.container {
  display: flex;
}

a {
  color: black;
}
.sidebar {
  width: 250px;
  background-color: #09c5bb;
  color: white;
  height: 100vh;
  padding: 20px;
}

.sidebar h2 {
  margin-top: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 15px 0;
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
}

.sidebar ul li a:hover {
  text-decoration: underline;
}

.content {
  padding: 60px 100px;
  flex: 1;
}

.profile-image {
  width: 80%;
  border-radius: 8rem;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
